*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: calc(var(--font-body-scale) * 62.5%);
  height: 100%;
}

body {
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);
  line-height: calc(1 + 0.8 / var(--font-body-scale));
  font-size: 1.6rem;
  margin: 0;
}

/*** Typography ***/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
  font-weight: var(--font-heading-weight);
  line-height: calc(1 + 0.3 / max(1, var(--font-heading-scale)));
  word-break: break-word;
}

h1,
.h1 {
  font-size: calc(var(--font-heading-scale) * 2.8rem);
}
h2,
.h2 {
  font-size: calc(var(--font-heading-scale) * 2.2rem);
}
h3,
.h3 {
  font-size: calc(var(--font-heading-scale) * 2rem);
}
h4,
.h4 {
  font-size: calc(var(--font-heading-scale) * 1.8rem);
}
h5,
.h5 {
  font-size: calc(var(--font-heading-scale) * 1.6rem);
}
h6,
.h6 {
  font-size: calc(var(--font-heading-scale) * 1.4rem);
}

/*** Spacing ***/

.page-width {
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 0 1.6rem;
}

.section + .section {
  margin-top: var(--spacing-sections-mobile);
}

@media screen and (min-width: 750px) {
  .section + .section {
    margin-top: var(--spacing-sections-desktop);
  }
}
